/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 968px;
}



/*Section Lifestyle*/
#Lifestyle{
  display: flex;
  height: auto;
}
#Lifestyle::before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3); 
}


/*Container esquerdo*/
#Container-1{
  width: 50%;
  position: relative;
  background-image: url(img/back.png);
  background-repeat: no-repeat;
  background-size: 968px;
  z-index: -8;

}
#Container-1::before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7); 
  z-index: -7;
}

/*Container direito*/
#Container-2{
  width: 50%;
  position: relative;
  background-color: rgb(41, 41, 41);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  z-index: -9;
}




/*Texto*/

#title{
  margin-left: 4%;
  z-index: -5;
  font-size: 3.250rem;
  margin-top: 7.5%;
}

#title b{
  color:rgb(255, 255, 102);
  margin-left: 1.8%;
} 

#title h1{
  width: 115%;
  z-index: 10;
  
}



#color-text{
  color: rgb(255, 255, 102);
}

#AGP{
  width: 112%;
  z-index: -2;
  font-family: 'Fjalla One', sans-serif;
  
}

#img{
  z-index: -1;
  margin-top: -21%;
  transform: scale(0.700);
  
  
  
}

#AGP h1{
  display: flex;
  color: white;
  z-index: 20;
 
}

/*Parte da introdução*/
#aboutUs{
  position: relative;
  justify-content: center;
  text-align: center;
  width: 40%;
  color: white;
  margin-top: -10%;
  

}

#aboutUs p{
  margin-top: 4%;
  margin-right: auto;
  justify-content: center;
  font-size: 0.88rem;
  font-family: 'Antonio', sans-serif;
  text-align: center;
  margin-left: -10%;
  margin-right: -10%;

}

#aboutUs h1{
  color: rgb(255, 255, 102);
  font-size: 1.4rem;
  font-family: 'Fjalla One', sans-serif;
  

}

/*Parte do horário*/ 
#schedule{
  position: relative;
  justify-content: center;
  text-align: center;
  width: 40%;
  margin-top: 25%;
  color: white;
}
#schedule h1{
  color: rgb(255, 255, 102);
  font-size: 1.4rem;
  font-family: 'Fjalla One', sans-serif;
}

#schedule p{
  margin-top: 4%;
  margin-left:-10%;
  margin-right: -30%;
  text-align: justify;
  justify-content: center;
  font-size: 0.75rem;
  font-family: 'Antonio', sans-serif;

}

